<h1>Login</h1>
<hr/>
<div class="col-md-4">
    <form autocomplete="off" [formGroup]="userForm" (ngSubmit)="login()" novalidate>
        <div class="form-group">
            <label for="userName">Username:</label>
            <em *ngIf="userForm.get('userName')?.invalid && (this.userForm.get('userName')?.touched || mouseOverLogin)">Required*</em>
            <input type="text" id="userName" class="form-control" placeholder="Username.."
            formControlName="userName"/>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <em *ngIf="userForm.get('password')?.invalid && (this.userForm.get('password')?.touched || mouseOverLogin)">Required*</em>
            <input type="password" id="password" class="form-control" placeholder="Password.."
            formControlName="password"/>
        </div>

        <span (mouseenter)="mouseOverLogin=true" (mouseleave)="mouseOverLogin = false">
        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
        </span>
        <button type="submit" class="btn btn-default" (click) = 'cancel()'>Cancel</button>
    </form>
</div> 

<div class="col-md-5">
    <p>{{userForm.valid}}</p>
    <p>{{userForm.get('userName')?.valid}}</p>    
    <p>{{userForm.get('userName')?.errors }}</p>   
    <p>{{userForm.get('password')?.valid}}</p>
</div> 
