<h1>Edit user profile</h1>
<hr />
<div class="col-md-6">
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" autocomplete="off" novalidate>
        <div class="form-group" [ngClass]="{error: !validateField('firstName')}">
            <label for="firstName">Firstname:</label>
            <em *ngIf="!validateField('firstName') && profileForm.get('firstName')?.errors?.['required']">Required*</em>
            <em *ngIf="!validateField('firstName') && profileForm.get('firstName')?.errors?.['pattern']">Must start with
                a letter*</em>
            <input type="text" id="firstName" class="form-control" placeholder="Firstname.."
                formControlName="firstName" />
        </div>

        <div class="form-group" [ngClass]="{error: !validateField('lastName')}">
            <label for="lastName">LastName:</label>
            <em *ngIf="!validateField('lastName')">Required*</em>
            <input type="text" id="lastName" class="form-control" placeholder="Lastname.." formControlName="lastName" />
        </div>

        <br /> <br />
        <button type="submit" class="btn btn-primary"> Save</button>
        <button type="button" class="btn btn-default" (click)="cancel()"> Cancel</button>
    </form>
</div>